<section class="index-box">
  <h1>Books</h1>

  <table cellspacing="10">
    <tr>
      <th>Title</th>
      <th>Body</th>
    <tr> 
      <% @books.each do |book| %>
      <td><%=book.title %></td>
      <td><%=book.body %></td>
      <td><%=link_to'Show',book_path(book.id) %></td>
      <td><%=link_to'Edit',edit_book_path(book.id)%></td>
      <td><%=link_to'Destroy',book_path(book.id),method: :delete,"data-confirm"=>"本当に削除しますか？" %></td>
    <tr>
      <% end %>
    </tr>
  </table>
</section>


<section class="new-box">
  <h2>New book</h2>

  <%=form_with model:@book,url:'/books',method: :post do |f| %>
  
  <div class="new-book-title">
    <p>Title</p>
    <%=f.text_field:title %>
  </div>

  <div class="new-book-body">
    <p>Body</p>
    <%=f.text_area:body %>
  </div>
  
  <div class="new-submit">
    <%=f.submit" Create Book " %>
  </div>

<% end %>

</section>
